# AWS Configuration
aws_region   = "us-east-1"
project_name = "poc-n8n"

# ECS Configuration
task_cpu    = "512"
task_memory = "1024"

# n8n Configuration
n8n_basic_auth_user     = "admin"
n8n_basic_auth_password = "change-this-password"
timezone                = "America/Sao_Paulo"

# Tags
tags = {
  Project     = "poc-n8n"
  Environment = "dev"
  ManagedBy   = "Terraform"
  Team        = "DevOps"
}
